.menu {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--text-over-primary);
  padding: 1.2rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}